@model Studentparlamentet_28.Models.Admin
<div class="col-sm-12" id="containerSTV">

    <div class="dropdown" style="float:right;">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            English
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("AdminLoggetInn", "Bruker", new { id = Model.brukernavn })">Norsk</a></li>
        </ul>
    </div>

    <br /><br />
    <div id="overskriftAdmin">Election and Voting</div>
    <br /><br />
    <div class="list-group">

        <!--            <div id="borderListGroup">
                        <a href="@Url.Action("LeggTilBruker", "Bruker")" class="list-group-item list-group-item-action flex-column align-items-start active">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Legg til administratorer</h5>
                            </div>
                            <small>Klikk her for å lage flere administrator brukere</small>
                        </a>
                    </div>
        -->
        <div class="form-group form-inline">
            <div class="row col-sm-14">
                <div class="col-lg-4 col-lg-1">
                    <div id="borderListGroup">
                        <a href="@Url.Action("LeggTilBruker", "Bruker")" class="list-group-item list-group-item-action flex-column align-items-start active">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Generate participations</h5>
                            </div>
                            <small>Click here generate a participation list</small>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-2">
                    <div id="borderListGroup">
                        <a href="@Url.Action("HentResultat", "Bruker")" class="list-group-item list-group-item-action flex-column align-items-start active">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Get results</h5>
                            </div>
                            <small>Click her to get reports, and results of elections</small>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-3">
                    <div id="borderListGroup">
                        <a href="@Url.Action("endreAdminkontoEng", "Bruker")" class="list-group-item list-group-item-action flex-column align-items-start active">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Manage account</h5>
                            </div>
                            <small>Click here to change your username or password</small>
                        </a>
                    </div>
                </div>
            </div>

            <br /><br />

            <div class="row col-sm-14">
                <div class="col-lg-4">
                    <div id="borderListGroup">
                        <a href="@Url.Action("VoteringAdminEng", "Bruker")" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Vote</h5>
                            </div>
                            <small>Click here to start and register a Vote</small>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div id="borderListGroup">
                        <a href="@Url.Action("PersonvalgEng", "Bruker")" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Person election</h5>
                            </div>
                            <small>Click here to start and register a Person election</small>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div id="borderListGroup">
                        <a href="@Url.Action("PreferansevalgAdminEng", "Bruker")" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Single transferable Vote</h5>
                            </div>
                            <small>Click here to start and register a S.T.V</small>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <br />

        <div class="row">
            <div class="col-lg-4">

            </div>
            <div class="col-lg-4">
                <a href="@Url.Action("LoggUt", "Bruker", new { id = Model.brukernavn })" class="btn btn-danger col-lg-10"><span class="glyphicon glyphicon-log-out"></span>  SignOut</a>

            </div>
            <div class="col-lg-4">

            </div>


        </div>
    </div>
</div>
