@model Studentparlamentet_28.Models.Admin
<div class="col-sm-12" id="LoginForm">
    <div class="panel-body" id="panelAdminIndex">

        <div class="dropdown" style="float:right;">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                English
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("AdminLoggetInn", "Bruker", new { id = Model.brukernavn })">Norsk</a></li>
            </ul>
        </div>

        <br /><br />
        <div class="list-group">
            <div id="borderListGroup">
                <a href="@Url.Action("LeggTilBrukerEng", "Bruker")" class="list-group-item list-group-item-action flex-column align-items-start active">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Generate election participation list</h5>
                    </div>
                    <small>Click here to generate and download username and password for election participants</small>
                </a>
            </div>
            <div id="borderListGroup">
                <a href="@Url.Action("VoteringAdminEng", "Bruker")" class="list-group-item list-group-item-action flex-column align-items-start active">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Vote</h5>
                    </div>
                    <small>Click here to start vote, to stop vote and to see an overview of all the votes</small>
                </a>
            </div>
            <div id="borderListGroup">
                <a href="@Url.Action("PreferansevalgAdminEng", "Bruker")" class="list-group-item list-group-item-action flex-column align-items-start active">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Single Transferable Vote</h5>
                    </div>
                    <small>Click here to start and stop a S.T.V and to see an overview of all the S.T.V's</small>
                </a>
            </div>
            <div id="borderListGroup">
                <a href="@Url.Action("PersonvalgEng", "Bruker")" class="list-group-item list-group-item-action flex-column align-items-start active">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Person election</h5>
                    </div>
                    <small>Click here to start and stop person election and to see an overview of all the person elections</small>
                </a>
            </div>
            <div id="borderListGroup">
                <a href="@Url.Action("HentResultatEng", "Bruker")" class="list-group-item list-group-item-action flex-column align-items-start active">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Results</h5>
                    </div>
                    <small>Click here to see and download results from the votes and elections</small>
                </a>
            </div>
        </div>
        @Html.ActionLink("Sign out", "LoggUt", new { id = Model.brukernavn }, new { @class = "btn btn-danger" })
    </div>
</div>
