@model List<Studentparlamentet_28.Models.KandidatSTV>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript">
        //Hjelpevariabler

        $(function () {
            //Kvotering
            var klasse1 = "";
            var klasse2 = "";
            var klasse1Prosent = 0;
            var klasse2Prosent = 0;

            $("#dropdownDiv").hide();
            $("#divKlasse1").hide();
            $("#divKlasse2").hide();
            $("#btnKlasser").hide();
            $("#btnNullstillKlasser").hide();

            var valgid = 0;
            var valgidtype = $("#hiddenValgtypeid").val();
            var antallKandidaterIListe = @Model.Count();
            $("#divLagreFeilmld").hide();

            //Disable nullstill knappen
            if(antallKandidaterIListe == 0){
                $('#btnNullstillKandidater').attr("disabled", true);
            }

            //Nullstill kandidatliste
            $("#btnNullstillKandidater").click(function () {

                $.ajax({
                    url: '/Bruker/NullstillKandidatliste',
                    data: { valgtypeid: valgidtype },
                    type: 'GET',
                    dataType: 'json',
                    success: function (melding) {
                        if (melding == "OK") {
                            location.reload();
                        }
                    },
                    error: function (x, y, z) {
                    }
                });
            });

            $("#btnLeggTilKandidat").click(function () {
                var navn = $('#kandidatNavn').val(); //Henter inn data fra felt
                var klasseValgt = $("#dropdown1 option:selected").text();
                leggTilRad(navn, klasseValgt);
            });

            //-----NY LEGG TIL KLASSER
            $("#btnKlasser").click(function() {
                //Henter inn values fra alle inputfeltene
                klasse1 = $("#klasseEnId").val();
                klasse2 = $("#klasseToId").val();
                klasse1Prosent = $("#klasseEnProsentId").val();
                klasse2Prosent = $("#klasseToProsentId").val();

                var boolSjekkInput= true;

                if(klasse1 == "" && klasse2 == ""){
                    $("#feilKlasse1mld").html("<p style='color: red;'>*Please fill in again.</p>");
                    $("#feilKlasse2mld").html("<p style='color: red;'>*Please fill in again.</p>");
                    boolSjekkInput = false;
                }
                else if(klasse1 == "" || klasse1Prosent == ""){
                    $("#feilKlasse1mld").html("<p style='color: red;'>*Please fill in again.</p>");
                    boolSjekkInput = false;
                }
                else if(klasse2 == "" || klasse2Prosent == ""){
                    $("#feilKlasse2mld").html("<p style='color: red;'>*Please fill in again.</p>");
                    boolSjekkInput = false;
                }

                if(boolSjekkInput == true){
                    localStorage.setItem("klasseEN", klasse1);
                    localStorage.setItem("klasseTO", klasse2);
                    localStorage.setItem("klasseENProsent", klasse1Prosent);
                    localStorage.setItem("klasseTOProsent", klasse2Prosent);

                    $("#checkbox_id").attr("disabled", true);
                    $("#btnNullstillKlasser").show();
                    $("#divKlasse1").hide();
                    $("#divKlasse2").hide();
                    $("#btnKlasser").hide();
                    fyllDropDown(klasse1, klasse2);
                    $("#dropdownDiv").show();
                }

            });

            $("#btnNullstillKlasser").click(function() {
                localStorage.setItem("klasseEN", null);
                localStorage.setItem("klasseTO", null);
                localStorage.setItem("klasseENProsent", null);
                localStorage.setItem("klasseTOProsent", null);

                localStorage.clear();

                $("#dropdownDiv").hide();
                $("#checkbox_id").attr("disabled", false);
                $('#checkbox_id').attr('checked', false);
                $("#btnNullstillKlasser").hide();
                $.ajax({
                    url: '/Bruker/NullstillKandidatliste',
                    data: { valgtypeid: valgidtype },
                    type: 'GET',
                    dataType: 'json',
                    success: function (melding) {
                        if (melding == "OK") {
                            location.reload();
                        }
                    },
                    error: function (x, y, z) {
                    }
                });
            });

            if(localStorage.getItem("klasseEN") != null && localStorage.getItem("klasseTO") != null
               && localStorage.getItem("klasseENProsent") != null && localStorage.getItem("klasseTOProsent") != null)
            {
                klasse1 = localStorage.getItem("klasseEN");
                klasse2 = localStorage.getItem("klasseTO");
                klasse1Prosent = localStorage.getItem("klasseENProsent");
                klasse2Prosent = localStorage.getItem("klasseTOProsent");

                $("#checkbox_id").attr("disabled", true);
                $("#btnNullstillKlasser").show();
                fyllDropDown(localStorage.getItem("klasseEN"), localStorage.getItem("klasseTO"));

                $("#dropdownDiv").show();
            }

            //Lagre preferansevalg
            $("#btnLagreSTV").click(function () {
                var beskrivelse = $('#BeskrivelseSTV').val(); //Henter inn data fra felt
                var antallRepresentanter = $("#antRepresentanter").val();

                if(klasse1 == ""){
                    klasse1 = "tom";
                }

                if(klasse2 == ""){
                    klasse2 = "tom";
                }

                $("#divLagreFeilmld").hide();
                $("#divLagreFeilTxt").hide();
                $("#divFeilRepLagre").html(" ");
                $("#divFeilBeskrivelseLagre").html(" ");

                //Om antall kandidater er mindre enn så starter ikke et valg
                if(antallKandidaterIListe < antallRepresentanter){
                    $("#divLagreFeilmld").show();
                    $("#divLagreFeilTxt").show();
                    $("#divLagreFeilTxt").html("The number of candidates for the election is less than the number of representatives to be elected.");
                    melding = "feil";
                }
                else if(antallRepresentanter == ""){
                    if(beskrivelse == ""){
                        $("#divLagreFeilmld").show();
                        $("#divLagreFeilTxt").show();
                        $("#divLagreFeilTxt").html("Error, try again.");
                        $("#divFeilBeskrivelseLagre").html("<p style='color: red;'>*Fill in</p>");
                    }
                    antallRepresentanter = "-";
                    $("#divLagreFeilmld").show();
                    $("#divLagreFeilTxt").show();
                    $("#divLagreFeilTxt").html("Fikk ikke startet preferansevalg, se over skjema og prøv igjen.");
                    $("#divFeilRepLagre").html("<p style='color: red;'>Has to be a number</p>");
                }
                else if(isNaN(antallRepresentanter))
                {
                    $("#divLagreFeilmld").show();
                    $("#divLagreFeilTxt").show();
                    $("#divLagreFeilTxt").html("Error, try again.");
                    $("#divFeilRepLagre").html("<p style='color: red;'>Has to be a number</p>");
                }
                else if(isNaN(antallRepresentanter))
                {
                    $("#divFeilmld").show();
                    $("#divFeilTxt").html("Error, try again.");
                    $("#divFeilRep").html("<p style='color: red;'>*Has to be a number<p>");
                }
                else{
                    $.ajax({
                        url: '/Bruker/lagreNyttPreferansevalg',
                        data: {
                            beskrivelse: beskrivelse,
                            antallRepresentanter: antallRepresentanter,
                            klasse1: klasse1,
                            klasse2: klasse2,
                            prosent1: klasse1Prosent,
                            prosent2: klasse2Prosent
                        },
                        type: 'GET',
                        dataType: 'json',
                        success: function (melding) {
                            if (melding == "OK") {
                                $("#divLagreFeilmld").hide();
                                $("#divLagreFeilTxt").hide();
                                $("#divFeilRepLagre").html(" ");
                                $("#divFeilBeskrivelseLagre").html(" ");

                                localStorage.setItem("klasseEN", null);
                                localStorage.setItem("klasseTO", null);
                                localStorage.setItem("klasseENProsent", null);
                                localStorage.setItem("klasseTOProsent", null);

                                localStorage.clear();

                                window.location = "@Url.Action("ForhåndslagredePreferansevalgEng", "Bruker")";
                            }
                            else if (melding == "feil") {
                                if(antallRepresentanter < 2){
                                    $("#divLagreFeilmld").show();
                                    $("#divLagreFeilTxt").show();
                                    $("#divLagreFeilTxt").html("Error, try again.");
                                    $("#divFeilRepLagre").html("<p style='color: red;'>*Has to be at least 2</p>");
                                }
                                if(beskrivelse == ""){
                                    $("#divLagreFeilmld").show();
                                    $("#divLagreFeilTxt").show();
                                    $("#divLagreFeilTxt").html("Error, try again.");
                                    $("#divFeilBeskrivelseLagre").html("<p style='color: red;'>*Fill in</p>");
                                }
                            }
                        },
                        error: function (x, y, z) {
                        }
                    });
                }
            });

        }) //Her stopper function()


        //Funksjon som legger til kandidater fortløpende
        function leggTilRad(navn, klasse) {

            $.ajax({
                url: '/Bruker/lagreKandidatIListe',
                data: {
                    id: navn,
                    klasse: klasse
                },
                type: 'GET',
                dataType: 'json',
                success: function (melding) {
                    if (melding == "OK")
                    {
                        location.reload();
                    }
                    else if(melding == "Samme navn")
                    {
                        $('#modalFeil').modal('show');
                    }
                },
                error: function (x, y, z) {
                }
            });
        }

        function fyllDropDown(klasse1, klasse2) {
            var utskrift = "<option value='default' selected='selected' disabled>Class</option>";

            utskrift += "<option value='" + 1 + "'>" + klasse1 + "</option>";
            utskrift += "<option value='" + 2 + "'>" + klasse2 + "</option>";
            $("#dropdown1").html(utskrift);
        }

        function visKlasseSkjema(){
            if($("#checkbox_id").is(':checked')){
                var klasse1 = "";
                var klasse2 = "";
                var klasse1Prosent = 0;
                var klasse2Prosent = 0;

                localStorage.setItem("klasseEN", null);
                localStorage.setItem("klasseTO", null);
                localStorage.setItem("klasseENProsent", null);
                localStorage.setItem("klasseTOProsent", null);

                localStorage.clear();

                $("#divKlasse1").show();
                $("#divKlasse2").show();
                $("#btnKlasser").show();
            }
            else
            {
                $("#divKlasse1").hide();
                $("#divKlasse2").hide();
                $("#btnKlasser").hide();
                $("#dropdownDiv").hide();
            }
        }

    </script>
</head>
<body>
    <div class="col-sm-12" id="containerSTV">
        @Html.ActionLink(" ", "IndexEng", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-default glyphicon glyphicon-home btn-md" })
        <div class="form-inline" style="float:right;">
            @Html.ActionLink("Back", "ForhåndsLagredePreferansevalgEng", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-default" })
            <div class="dropdown" style="float:right;">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    English
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("ForhåndslagreNyttPreferansevalg", "Bruker")">Norsk</a></li>
                </ul>
            </div>
        </div>
        <br />
        <h2>S.T.V</h2>
        <br />
        <p class="text-info">Here you can register a S.T.V that you will run in the meeting</p>
        <br />
        <div class="form-horizontal">


            <div class="form-group form-inline">
                <div class="row col-sm-12">
                    <div class="col-sm-4">
                        <label for="checkbox_id">Quotas&nbsp;&nbsp;</label>
                        <input type="checkbox" name="checkbox" id="checkbox_id" value="value" onclick="visKlasseSkjema();">
                    </div>
                    <div class="col-sm-3">
                        <input type="button" id="btnNullstillKlasser" name="nullstillKlasser" value="Reset classes" class="btn btn-danger" />
                    </div>
                </div>
            </div>
            <div class="form-group form-inline" id="divKlasse1">
                <div class="row col-sm-12">
                    <div class="col-sm-5">
                        <label for="klasseEnId">Class: &nbsp;&nbsp;</label>
                        <input type="text" name="klasse1" id="klasseEnId" />
                        <p>&nbsp;&nbsp;</p>
                    </div>
                    <div class="col-sm-1">
                        <div class="col-sm-3">
                            <input type="text" style="width: 35px;" name="klasse1Prosent" id="klasseEnProsentId" placeholder="%" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group form-inline" id="divKlasse2">
                <div class="row col-sm-12">
                    <div class="col-sm-5">
                        <label for="klasseEnId">Class: &nbsp;&nbsp;</label>
                        <input type="text" name="klasse2" id="klasseToId" />
                        <p>&nbsp;&nbsp;</p>
                    </div>
                    <div class="col-sm-1">
                        <div class="col-sm-3">
                            <input type="text" style="width: 35px;" name="klasse2Prosent" id="klasseToProsentId" placeholder="%" />
                        </div>
                    </div>
                </div>
            </div>

            <input type="button" name="btnLeggTilKlasser" id="btnKlasser" value="Add classes" />


            <div class="col-sm-12"><hr id="hrSTV" /></div>


            <div class="form-group form-inline">
                <div class="row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="kandidatNavn" placeholder="Name of the participating candidate" />
                    </div>
                    <div class="col-sm-3" id="dropdownDiv">
                        <select class="form-control selectpicker" id="dropdown1">
                            <option value="default" selected="selected" disabled>Class</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <input type="button" value="Add new candidat" id="btnLeggTilKandidat" class="btn btn-info" />
                    </div>
                </div>
            </div>

            <table class="table table-hover table-nonfluid" id="tablePreferansevalg">
                <caption><h4 class="pull-left">Registered candidates</h4></caption>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>
                            <div class="pull-right">
                            </div>
                        </th>
                        <th>
                            <div class="pull-right">
                                <input type="button" value="Reset list" id="btnNullstillKandidater" class="btn btn-danger btn-sm" />
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{int i = 1;}
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@i</th>
                            <td colspan="2">
                                @Html.DisplayFor(modelItem => item.navn)
                                <input type="hidden" id="hiddenValgtypeid" value="@item.valgtypeid" />
                            </td>
                            <td>
                                <div class="pull-right">
                                    @Html.ActionLink(" ", "slettKandidatFraListe", new { id = item.kandidatListeID }, new { @class = "btn btn-danger btn-md glyphicon glyphicon-remove" })
                                </div>
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>

            <br /><br /><br />

            <div class="form-group form-inline">
                <div class="row col-sm-11">
                    <div class="col-sm-2">
                        <label for="BeskrivelseSTV">Description</label>
                    </div>
                    <div class="col-sm-5 col-sm-offset-2">
                        <input type="text" class="form-control" id="BeskrivelseSTV" />
                    </div>
                    <div class="col-sm-3" id="divFeilBeskrivelseLagre">

                    </div>
                </div>
            </div>
            <div class="form-group form-inline">
                <div class="row col-sm-11">
                    <div class="col-sm-4">
                        <label for="antRepresentanter">Selected number</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="antRepresentanter" />
                    </div>
                    <div class="col-sm-5" id="divFeilRepLagre">
                    </div>
                </div>
            </div>
            <div class="form-group form-inline">
                <div class="row">
                    <div class="col-sm-2" id="skjultFeilLagreDiv"></div>
                    <div id="divLagreFeilmld" class="col-sm-8 pull-left alert alert-danger">
                        <div class="col-sm-12 pull-left"><div id="divLagreFeilTxt"></div></div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-6">
                        <input type="button" id="btnLagreSTV" value="Save new S.T.V" class="btn btn-primary" />
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>

            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="modalFeilLagre">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4>Feil</h4>
                        </div>
                        <div class="modal-body">
                            <p style="color: red;">This name i aldready registered, please try again with a different name.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
    <br />
</body>
</html>
