@model Studentparlamentet_28.Models.Leggtilbruker


<div class="col-sm-12" id="LoginForm">
    <div class="form-inline" style="float:right;">
        @Html.ActionLink("Back", "TilbakeEng", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-default" })
        <div class="dropdown" style="float:right;">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                English
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("LeggTilBruker", "Bruker")">Norsk</a></li>
            </ul>
        </div>
    </div>

    <br />
    <h2 style="text-align:left;">Generate list of users for election and voting</h2>
    <br />
    <p>Choose number of users for voting and generate a list</p>
    <br />
    @using (Html.BeginForm("GenererListe", "Bruker"))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-inline">
            <div class="form-group">
                @Html.EditorFor(model => model.antall, new { htmlAttributes = new { @class = "form-control", placeholder = "Number" } })
                @Html.ValidationMessageFor(model => model.antall, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                <input type="submit" value="Generate list" class="btn btn-primary" />
            </div>
            <br /> <br />

            <div class="form-group">
                @Html.ActionLink("See list", "VisListeEng", new { tom = "" }, new { @class = "btn btn-success" })
                @Html.ActionLink("Download list", "LastNedListe", new { tom = "" }, new { @class = "btn btn-success" })
            </div>


        </div>
    }
</div>