@model List<Studentparlamentet_28.Models.Kandidat>
<div class="col-sm-12" id="PersonvalgPartial">
    <div id="tableContainerPersonvalg">


        <table class="table  table-responsive table-scrollable" id="tableID">
            <thead class="thead-default">
                <tr>
                    <th>
                        First name
                    </th>
                    <th>
                        Last name
                    </th>

                    <th></th>
                </tr>
            </thead>


            <tbody class="table-bordered">
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.fornavn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.etternavn)
                        </td>

                        <td>
                            @Html.ActionLink("Delete", "slettKandidatEng", new { id = item.id }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
    <div id="PersonvalgTableFooter">
    <div class="alert alert-success" style="display: none;" id="sucess"></div>
    <div class="alert alert-danger" style="display: none;" id="feil"></div>
    @Html.ActionLink("Save person election", "LagrePersonvalgEng", new {/* tom = "" */}, new { @class = "btn btn-success" })
    @Html.ActionLink("Go to saved person election", "lagretPersonvalgEng", new { /* tom = "" */ }, new { @class = "btn btn-success" })
</div>

</div>
