@model List<Studentparlamentet_28.Models.Personvalg>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


    <div class="col-sm-12" id="PersonvalgStemme">

        <div class="container" id="PersonvalgStemmeContainer">

            <div class="dropdown" style="float:right;">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    English
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("PersonvalgStemme", "Bruker")">Norsk</a></li>
                </ul>
            </div>

            <br />
            <div align="center"><h1><b>Candidates for Person Election</b></h1></div>
            <br />
            <div align="center"><h2>Choose a Candidate and use your Vote</h2></div>
            <br />
            @using (Html.BeginForm("PersonvaglregisterStemme", "Bruker"))
            {
                <div class="funkyradio">
                    @foreach (var item in Model)
                    {
                        <div class="funkyradio-success">

                            <input type="radio" name="radio" id="@item.id" value="@item.id" />
                            <label for="@item.id">@item.fornavn @item.etternavn</label>
                        </div>
                    }
                    <div class="funkyradio-success">
                        <input type="radio" name="radio" id="0" value="0" />
                        <label for="0">Blank vote</label>
                    </div>
                </div>
                <div id="stemBtn">
                    <button type="submit" class="btn btn-success btn-lg">Vote</button>
                </div>

            }
            <br />
            </div>
    </div>
</body>
</html>