@model Studentparlamentet_28.Models.Kandidat
<div id="sletteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title">Confirm deleting</h2>
            </div>


            <div class="modal-body">
                <h3>An Overview of the Candidates</h3>

                <div class="alert alert-info" id="listeKandidater"></div>
                <div class="alert alert-danger" style="display: none;" id="feilmeldingPersonvalgWarning"></div>

                <div class="alert alert-warning" style="display: none;" id="feilmeldingPersonvalg"></div>
                <div class="alert alert-success">
                    @using (Html.BeginForm())
                    {

                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <p>Fill in Election ID to make a change or to delete</p>

                            <div class="input-group">
                                @Html.EditorFor(model => model.id, new { htmlAttributes = new { @type = "text", @class = "form-control", placeholder = "ElectionID" } })
                                @Html.ValidationMessageFor(model => model.id, "", new { @class = "text-danger" })
                            </div>

                            <p>Fill in administrator password</p>
                            <div class="input-group">
                                @Html.EditorFor(model => model.passordEng, new { htmlAttributes = new { @type = "password", @class = "form-control", placeholder = "Password" } })
                                @Html.ValidationMessageFor(model => model.passordEng, "", new { @class = "text-danger" })
                            </div>

                            <br />
                            <p>Fill inn firstname or/and lastname to make changes</p>
                            <div class="input-group">
                                @Html.EditorFor(model => model.fornavn, new { htmlAttributes = new { @class = "form-control", placeholder = "Firstname" } })
                            </div>

                            <div class="input-group">
                                @Html.EditorFor(model => model.etternavn, new { htmlAttributes = new { @class = "form-control", placeholder = "Lastname" } })

                            </div>
                        </div>

                        <input name="submit" type="submit" value="Change" class="btn btn-success" />
                        <input name="submit" type="submit" value="Delete" class="btn btn-success" />
                        <input type="hidden" id="valgtypeID2" name="valgtypeID2" />
                        <input type="hidden" id="valgtypeID3" name="valgtypeID3" value=0 />
                    }
                </div>
            </div>



            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>


            </div>

        </div>
    </div>
</div>
