@model List<Studentparlamentet_28.Models.KandidatSTV>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript">
        //Hjelpevariabler

        $(function () {

            //Kvotering
            var klasse1 = "";
            var klasse2 = "";
            var klasse1Prosent = 0;
            var klasse2Prosent = 0;

            $("#dropdownDiv").hide();
            $("#divKlasse1").hide();
            $("#divKlasse2").hide();
            $("#btnKlasser").hide();

            var antallKandidaterIListe = @Model.Count();
            var valgid = 0;
            var valgidtype = $("#hiddenValgtypeid").val();
            $("#divResultat").hide();
            $("#divFeilmld").hide();

            //Sjekker om et preferansevalg kjører
            $.ajax({
                url: '@Url.Action("PreferansevalgKjorer", "Bruker")',
                success: function (data) {
                    if (data == "true") {
                        window.location = "@Url.Action("PreferansevalgStartetEng", "Bruker")";
                    }
                    else if (data == "false") {
                        $("#start").show();
                    }
                }
            });


            if(antallKandidaterIListe == 0){
                $('#btnNullstillKandidater').attr("disabled", true);
            }

            //Nullstill kandidatliste
            $("#btnNullstillKandidater").click(function () {

                $.ajax({
                    url: '/Bruker/NullstillKandidatliste',
                    data: { valgtypeid: valgidtype },
                    type: 'GET',
                    dataType: 'json',
                    success: function (melding) {
                        if (melding == "OK") {
                            location.reload();
                        }
                    },
                    error: function (x, y, z) {
                    }
                });
            });

            //Lagrer kandidat i db og legger til en ny rad
            $("#btnLeggTilKandidat").click(function () {
                var navn = $('#kandidatNavn').val(); //Henter inn data fra felt
                var klasseValgt = $("#dropdown1 option:selected").text();
                leggTilRad(navn, klasseValgt);
            });

            $("#btnKlasser").click(function() {
                //Henter inn values fra alle inputfeltene
                klasse1 = $("#klasseEnId").val();
                klasse2 = $("#klasseToId").val();
                klasse1Prosent = $("#klasseEnProsentId").val();
                klasse2Prosent = $("#klasseToProsentId").val();

                localStorage.setItem("klasseEN", klasse1);
                localStorage.setItem("klasseTO", klasse2);
                localStorage.setItem("klasseENProsent", klasse1Prosent);
                localStorage.setItem("klasseTOProsent", klasse2Prosent);

                $("#divKlasse1").hide();
                $("#divKlasse2").hide();
                $("#btnKlasser").hide();
                fyllDropDown(klasse1, klasse2);
                $("#dropdownDiv").show();

            });

            if(localStorage.getItem("klasseEN") != null && localStorage.getItem("klasseTO") != null
               && localStorage.getItem("klasseENProsent") != null && localStorage.getItem("klasseTOProsent") != null)
            {
                klasse1 = localStorage.getItem("klasseEN");
                klasse2 = localStorage.getItem("klasseTO");
                klasse1Prosent = localStorage.getItem("klasseENProsent");
                klasse2Prosent = localStorage.getItem("klasseTOProsent");

                fyllDropDown(localStorage.getItem("klasseEN"), localStorage.getItem("klasseTO"));
                $("#dropdownDiv").show();
            }

            //Start preferansevalg
            $("#btnStartSTV ").click(function () {
                var beskrivelse = $('#BeskrivelseSTV').val(); //Henter inn data fra felt
                var antallRepresentanter = $("#antRepresentanter").val();
                
                if(klasse1 == ""){
                    klasse1 = "tom";
                }

                if(klasse2 == ""){
                    klasse2 = "tom";
                }

                $("#divFeilmld").hide();
                $("#divFeilTxt").html(" ");
                $("#divFeilRep").html(" ");
                $("#divFeilBeskrivelse").html(" ");

                //Om antall kandidater er mindre enn så starter ikke et valg
                if(antallKandidaterIListe < antallRepresentanter){
                    if(antallRepresentanter < 2){
                        $("#divFeilmld").show();
                        $("#divFeilTxt").html("Error, try again.");
                        $("#divFeilRep").html("<p style='color: red;'>*Has to be at least 2</p>");
                    }
                    if(beskrivelse == ""){
                        $("#divFeilmld").show();
                        $("#divFeilTxt").html("Error, try again.");
                        $("#divFeilBeskrivelse").html("<p style='color: red;'>*Fill in</p>");
                    }
                    $("#divFeilmld").show();
                    $("#divFeilTxt").html("The number of candidates for the election is less than the number of representatives to be elected.");
                    melding = "feil";
                }
                else if(antallRepresentanter == ""){
                    if(beskrivelse == ""){
                        $("#divFeilmld").show();
                        $("#divFeilTxt").html("Error, try again.");
                        $("#divFeilBeskrivelse").html("<p style='color: red;'>*Fill in</p>");
                    }
                    antallRepresentanter = "-";
                    $("#divFeilmld").show();
                    $("#divFeilTxt").html("Error, try again.");
                    $("#divFeilRep").html("<p style='color: red;'>*Fill in</p>");
                }
                
                else if(isNaN(antallRepresentanter))
                {
                    $("#divFeilmld").show();
                    $("#divFeilTxt").html("Error, try again.");
                    $("#divFeilRep").html("<p style='color: red;'>*Has to be a number<p>");
                }
                else{
                    $.ajax({
                        url: '/Bruker/startPreferansevalg',
                        data: {
                            beskrivelse: beskrivelse,
                            antallRepresentanter: antallRepresentanter,
                            klasse1: klasse1,
                            klasse2: klasse2,
                            prosent1: klasse1Prosent,
                            prosent2: klasse2Prosent
                        },
                        type: 'GET',
                        dataType: 'json',
                        success: function (melding) {
                            if (melding == "OK") {
                                $("#divFeilmld").hide();
                                $("#divFeilTxt").html(" ");
                                $("#divFeilRep").html(" ");
                                $("#divFeilBeskrivelse").html(" ");

                                localStorage.setItem("klasseEN", "");
                                localStorage.setItem("klasseTO", "");
                                localStorage.setItem("klasseENProsent", 0);
                                localStorage.setItem("klasseTOProsent", 0);
                                $("#dropdownDiv").hide();

                                window.location = "@Url.Action("PreferanseStartetEng", "Bruker")";
                            }
                            else if (melding == "feil") {
                                if(antallRepresentanter < 2){
                                    $("#divFeilmld").show();
                                    $("#divFeilTxt").html("Error, try again.");
                                    $("#divFeilRep").html("<p style='color: red;'>*Has to be at least 2</p>");
                                }
                                if(beskrivelse == ""){
                                    $("#divFeilmld").show();
                                    $("#divFeilTxt").html("Error, try again.");
                                    $("#divFeilBeskrivelse").html("<p style='color: red;'>*Fill in</p>");
                                }
                                $("#btnStartSTV ").show();
                            }
                        },
                        error: function (x, y, z) {
                        }
                    });
                }
            });

        }) //Her stopper function()


        function leggTilRad(navn, klasse) {

            $.ajax({
                url: '/Bruker/lagreKandidatIListe',
                data: {
                    id: navn,
                    klasse: klasse
                },
                type: 'GET',
                dataType: 'json',
                success: function (melding) {
                    if (melding == "OK")
                    {
                        location.reload();
                    }
                    else if(melding == "Samme navn")
                    {
                        $('#modalFeil').modal('show');
                    }
                },
                error: function (x, y, z) {
                }
            });
        }

        function fyllDropDown(klasse1, klasse2) {
            var utskrift = "";

            utskrift += "<option value='" + 1 + "'>" + klasse1 + "</option>";
            utskrift += "<option value='" + 2 + "'>" + klasse2 + "</option>";
            $("#dropdown1").append(utskrift);

        }

        function visKlasseSkjema(){
            if($("#checkbox_id").is(':checked')){
                $("#divKlasse1").show();  // checked
                $("#divKlasse2").show();
                $("#btnKlasser").show();
            }
            else
            {
                $("#divKlasse1").hide();
                $("#divKlasse2").hide();
                $("#btnKlasser").hide();
                $("#dropdownDiv").hide();
            }
        }

    </script>
</head>
<body>
    <div class="col-sm-12" id="containerSTV">
        @Html.ActionLink(" ", "IndexEng", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-default glyphicon glyphicon-home btn-md" })
        <div class="form-inline" style="float:right;">
            @Html.ActionLink("Back", "IndexEng", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-default" })
            <div class="dropdown" style="float:right;">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    English 
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("PreferansevalgAdmin", "Bruker")">Norsk</a></li>
                </ul>
            </div>
        </div>
        <br />
        <h2><b>Single Transferable Vote</b></h2>
        <br />
        <p class="text-info">For starting a new S.T.V, please fill in the form</p>
        <br />
        <div class="form-horizontal">
            <div class="form-group form-inline">
                <div class="row col-sm-12">
                    <div class="col-sm-4">
                        <label for="checkbox_id">Quotas&nbsp;&nbsp;</label>
                        <input type="checkbox" name="checkbox" id="checkbox_id" value="value" onclick="visKlasseSkjema();">
                    </div>
                </div>
            </div>
            <div class="form-group form-inline" id="divKlasse1">
                <div class="row col-sm-12">
                    <div class="col-sm-5">
                        <label for="klasseEnId">Class: &nbsp;&nbsp;</label>
                        <input type="text" name="klasse1" id="klasseEnId" />
                        <p>&nbsp;&nbsp;</p>
                    </div>
                    <div class="col-sm-1">
                        <div class="col-sm-3">
                            <input type="text" style="width: 35px;" name="klasse1Prosent" id="klasseEnProsentId" placeholder="%" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group form-inline" id="divKlasse2">
                <div class="row col-sm-12">
                    <div class="col-sm-5">
                        <label for="klasseEnId">Class: &nbsp;&nbsp;</label>
                        <input type="text" name="klasse2" id="klasseToId" />
                        <p>&nbsp;&nbsp;</p>
                    </div>
                    <div class="col-sm-1">
                        <div class="col-sm-3">
                            <input type="text" style="width: 35px;" name="klasse2Prosent" id="klasseToProsentId" placeholder="%" />
                        </div>
                    </div>
                </div>
            </div>

            <input type="button" name="btnLeggTilKlasser" id="btnKlasser" value="Add classes" />


            <div class="col-sm-12"><hr id="hrSTV" /></div>

       <div class="form-group form-inline">
                <div class="row col-sm-11">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="kandidatNavn" placeholder="Name of the participating candidate" />
                       
                    </div>
                    <div class="col-sm-3" id="dropdownDiv">
                        <select class="form-control selectpicker" id="dropdown1">
                            <option value="default" selected="selected" disabled>Klasse</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <input type="button" value="Add new candidate" id="btnLeggTilKandidat" class="btn btn-info" />
                    </div>
                </div>
            </div>

            <table class="table table-hover table-nonfluid" id="tablePreferansevalg">
                <caption><h4 class="pull-left">Registered candidates</h4></caption>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>
                            <div class="pull-right">
                            </div>
                        </th>
                        <th>
                            <div class="pull-right">
                                <input type="button" value="Reset list" id="btnNullstillKandidater" class="btn btn-danger btn-sm" />
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @{int i = 1;}
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@i</th>
                            <td colspan="2">
                                @Html.DisplayFor(modelItem => item.navn)
                                <input type="hidden" id="hiddenValgtypeid" value="@item.valgtypeid" />
                            </td>
                            <td>
                                <div class="pull-right">
                                    @Html.ActionLink(" ", "slettKandidatFraListe", new { id = item.kandidatListeID }, new { @class = "btn btn-danger btn-md glyphicon glyphicon-remove" })
                                </div>
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>

            <br />
            <div class="form-group form-inline">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div id="divFeilmld" class="col-sm-8 pull-left alert alert-danger" style="display:none">
                        <div class="col-sm-12 pull-left"><div id="divFeilTxt"></div></div>
                    </div>
                </div>
            </div>
            <div class="form-group form-inline">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div id="divResultat" class="col-sm-8 pull-left alert alert-info" style="display:none">
                        <div class="col-sm-5 pull-left"><div id="divResultatTxt"></div></div>
                        <div class="col-sm-3">
                            <input type="button" class="form-control btn-sm btn-info" id="divResultatBtn" value="See result" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group form-inline">
                <div class="row col-sm-11">
                    <div class="col-sm-2">
                        <label for="BeskrivelseSTV">Description</label>
                    </div>
                    <div class="col-sm-5 col-sm-offset-2">
                        <input type="text" class="form-control" id="BeskrivelseSTV" />
                    </div>
                    <div class="col-sm-3" id="divFeilBeskrivelse">

                    </div>
                </div>
            </div>

            <div class="form-group form-inline">
                <div class="row col-sm-11">
                    <div class="col-sm-4">
                        <label for="antRepresentanter">Number of selections</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="antRepresentanter" />
                    </div>
                    <div class="col-sm-5" id="divFeilRep">

                    </div>
                </div>
            </div>
            
            <div class="form-group">

                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-6 col-lg-offset-1">
                        <input type="button" id="btnStartSTV" value="Start STV" class="btn btn-primary" />
                    </div>
                </div>
                <div class="col-sm-12"><hr id="hrSTV" /></div>
                <br />
                <div class="row col-sm-11">
                    <div class="col-sm-12">
                        @Html.ActionLink("Registered S.T.V", "ForhåndslagredePreferansevalgEng", new { tom = "" }, new { @class = "btn btn-info col-sm-4 col-sm-offset-2" })
                        @Html.ActionLink("Executed STV ", "AlleUtfortePreferansevalgEng", new { tom = "" }, new { @class = "btn btn-info col-sm-4 col-sm-offset-1" })
                    </div>
                </div>
            </div>
            <br />

            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="modalFeilEng">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4>Feil</h4>
                        </div>
                        <div class="modal-body">
                            <p style="color: red;">This name is already registered, please try again with a different name.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br />
</body>
</html>

