@model Studentparlamentet_28.Models.Valgtyper

<div class="panel panel-default" id="panelVoteringResultat">
    <div class="panel-body" id="resultatVotering">
        <table class="table">
            <tr>
                <th>ElectionID</th>
                <th>Running</th>
                <th>Election type</th>
                <th></th>
            </tr>
            <tr>
                <td>@Model.valgtypeid</td>
                <td>
                    @if (@Model.start != false)
                    {
                        <p>Yes</p>
                    }
                    else
                    {
                        <p>No</p>
                    }
                </td>
                <td>
                    @Model.valgtype
            </td>
            <td>
                <div class="pull-left">
                    <a href="@Url.Action("ResultatVoteringIDEng", "Bruker", new {  id = Model.valgtypeid })" class="btn btn-info">See result</a>
                    <a href="#sletteModal" class="btn btn-large btn-danger" id="sletteKnapp"
                       data-navn="<h3>ElectionID @Model.valgtypeid Election type Votering</h3>"
                       data-id="@Model.valgtypeid" data-toggle="modal" data-sletteModal="true">Delete</a>
                </div>
            </td>
        </tr>
    </table>

    <div class="panel-footer clearfix">

    </div>
</div>
</div>