@model List<Studentparlamentet_28.Models.Bruker>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Liste</title>
    <script type="text/javascript">
        $(document).ready(function () {
            var full_url = document.URL; // Get current url
            var url_array = full_url.split('/') // Split the string into an array with = as separator
            var data_id = url_array[url_array.length - 1];// Get the last part of the array (-1)

            if (isNaN(data_id) == false)
            {
                $('#slettNavn').val(data_id);
                $('#sletteModal').modal();
                $('#feilpassord').show();
                $('#slettNavnDiv').hide();
                
            }
            // lag en hendelse som utføres når en a-href med "data-SletteModal = true" trykkes.
            $('a[data-sletteModal=true]').click(function () {
                $('#feilpassord').hide();
                $('#slettNavnDiv').show();
                // hent inn data-taggene fra denne a-hef lenken
                var data_navn = $(this).data('id');
                var data_id_valgtype = $(this).data('navn')

                // legg ut dataene i div'en i modal-view'et
                $('#slettNavn').val(data_navn);
                $('#slettNavnDiv').html(data_id_valgtype);
                // lag en hendelse for knappen for å slette via ajax, knappen ligger i modal-view'et
                // må ligge inne i denne overordnede funksjonen for at id'én som er valgt kan brukes

            })
        });
    </script>
</head>
<body>



    <div class="col-sm-12" id="box">
        @Html.ActionLink(" ", "IndexEng", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-default glyphicon glyphicon-home btn-md" })
        <div class="form-inline" style="float:right;">
            @Html.ActionLink("Back", "LeggTilBrukerEng", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-default" })
            <div class="dropdown" style="float:right;">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    English
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("VisListe", "Bruker")">Norsk</a></li>
                </ul>
            </div>
        </div>
        <br /><br />

        <div id="tableContainer">


            <table class="table  table-responsive table-scrollable" id="tableID">
                <thead class="thead-default">
                    <tr>
                        <th>
                            Username
                        </th>
                        <th>
                            Password
                        </th>
                        <th>
                            Signed in
                        </th>

                        <th></th>
                    </tr>
                </thead>


                <tbody class="table-bordered">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.brukernavn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.passord)
                            </td>
                            <td>
                                @if (!item.innlogget)
                                {
                                    <p>No</p>
                                }
                                else if (item.innlogget)
                                {
                                    <p>Yes</p>
                                }
                                else
                                {
                                    <p>Don't know</p>
                                }

                            </td>
                            <td>
                                <a href="#sletteModal" class="btn btn-large btn-danger" id="sletteKnapp"
                                   data-navn="Username: @item.brukernavn"
                                   data-id="@item.id" data-toggle="modal" data-sletteModal="true">Delete</a> 
                            </td>
                            <td>
                                @Html.ActionLink("Sign out", "LoggUtBruker", new { id = item.brukernavn }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>

            </table>

        </div>
        @using (Html.BeginForm("LeggTilNyBrukerEng", "Bruker"))
        {
            <div class="form-group">
                <input type="submit" value="Add a new user" class="btn btn-primary" />
            </div>
        }
        <br />


        @Html.Partial("../User/sletteModalListeEng", new Studentparlamentet_28.Models.Kandidat())
    </div>
</body>
</html>
