@model Studentparlamentet_28.Models.Admin
@{
    ViewBag.Title = "Hovedmeny";
}
<div class="col-sm-12" id="containerSTV">

    <div class="dropdown" style="float:right;">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            Norsk
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("AdminLoggetInnEng", "Bruker", new { id = Model.brukernavn })">English</a></li>
        </ul>
    </div>

    <br /><br />
    <div id="overskriftAdmin">Valg og Votering</div>
    <br /><br />
    <div class="list-group">

        <!--            <div id="borderListGroup">
                        <a href="@Url.Action("LeggTilBruker", "Bruker")" class="list-group-item list-group-item-action flex-column align-items-start active">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Legg til administratorer</h5>
                            </div>
                            <small>Klikk her for å lage flere administrator brukere</small>
                        </a>
                    </div>
        -->
        <div class="form-group form-inline">
            <div class="row col-sm-14">
                <div class="col-lg-4 col-lg-1">
                    <div id="borderListGroup">
                        <a href="@Url.Action("LeggTilBruker", "Bruker")" class="list-group-item list-group-item-action flex-column align-items-start active">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Generer valgdeltagere</h5>
                            </div>
                            <small>Klikk her for å generere valgdeltaker liste for møtet</small>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-2">
                    <div id="borderListGroup">
                        <a href="@Url.Action("HentResultat", "Bruker")" class="list-group-item list-group-item-action flex-column align-items-start active">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Hent resultater</h5>
                            </div>
                            <small>Klikk her for å hente rapporter av resultat</small>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-3">
                    <div id="borderListGroup">
                        <a href="@Url.Action("endreAdminkonto", "Bruker")" class="list-group-item list-group-item-action flex-column align-items-start active">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Endre administratorkonto</h5>
                            </div>
                            <small>Klikk her for å endre brukernavn eller passord for administrator</small>
                        </a>
                    </div>
                </div>
            </div>
            <br /><br />
            <div class="row col-sm-14">
                <div class="col-lg-4">
                    <div id="borderListGroup">
                        <a href="@Url.Action("VoteringAdmin", "Bruker")" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Votering</h5>
                            </div>
                            <small>Klikk her for å starte og administrere voteringer</small>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div id="borderListGroup">
                        <a href="@Url.Action("Personvalg", "Bruker")" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Personvalg</h5>
                            </div>
                            <small>Klikk her for å starte og administrere personvalg</small>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div id="borderListGroup">
                        <a href="@Url.Action("PreferansevalgAdmin", "Bruker")" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Preferansevalg</h5>
                            </div>
                            <small>Klikk her for å starte og administrere preferansevalg</small>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <br />

        <div class="row">
            <div class="col-lg-4">

            </div>
            <div class="col-lg-4">
                <a href="@Url.Action("LoggUt", "Bruker", new { id = Model.brukernavn })" class="btn btn-danger col-lg-10"><span class="glyphicon glyphicon-log-out"></span>  Logg ut</a>

            </div>
            <div class="col-lg-4">

            </div>

        </div>
    </div>
</div>
