@model Studentparlamentet_28.Models.Admin
<br />


<div class="panel-body" id="panelAdminIndex">

    <div class="dropdown" style="float:right;">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            Norsk
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("AdminLoggetInnEng", "Bruker", new { id = Model.brukernavn })">English</a></li>
        </ul>
    </div>

    <br /><br />
    <div class="list-group">

        <div id="borderListGroup">
            <a href="@Url.Action("LeggTilBruker", "Bruker")" class="list-group-item list-group-item-action flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Legg til bruker</h5>
                </div>
                <small>Klikk her for å legge til brukere for møte.</small>
            </a>
        </div>

        <div id="borderListGroup">
            <a href="@Url.Action("Votering", "Bruker")" class="list-group-item list-group-item-action flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Votering</h5>
                </div>
                <small>Klikk her for å starte en votering.</small>
            </a>
        </div>

        <div id="borderListGroup">
            <a href="@Url.Action("Preferansevalg", "Bruker")" class="list-group-item list-group-item-action flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Preferansevalg</h5>
                </div>
                <small>Klikk her for å starte et preferansevalg.</small>
            </a>
        </div>

        <div id="borderListGroup">
            <a href="@Url.Action("Personvalg", "Bruker")" class="list-group-item list-group-item-action flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Personvalg</h5>
                </div>
                <small>Klikk her for å starte et personvalg</small>
            </a>
        </div>

        <div id="borderListGroup">
            <a href="@Url.Action("Resultat", "Bruker")" class="list-group-item list-group-item-action flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Hent resultat</h5>
                </div>
                <small>Klikk her for å hente rapporter av resultat.</small>
            </a>
        </div>
    </div>

    @Html.ActionLink("Logg ut", "LoggUt", new { id = Model.brukernavn }, new { @class = "btn btn-danger" })
</div>