@model List<Studentparlamentet_28.Models.Valgtyper>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript">
        var antallValg = @Model.Count +1; //Henter inn antall valg som er gjennomført
        var hiddenData = "";
        
        $(function () {
            for(var i = 1; i < antallValg; i++)
            {
                hiddenData = $("#HiddenID" + i).val();
                ajaxKall(i, hiddenData);
            }
        })

        //Funksjon som henter inn antall stemte og antall deltatt
        function ajaxKall(i, hiddenid) {
            $.ajax({
                url: '/Bruker/HentResultatAntallStemt',
                data: { id: hiddenid },
                type: 'GET',
                dataType: 'json',
                success: function (melding) {
                    $("#divStemt" + i).html(melding);
                },
                error: function (x, y, z) {
                }
            });
        }
    </script>
</head>
<body>
    <div class="col-sm-12" id="box2">
        @Html.ActionLink(" ", "Index", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-default glyphicon glyphicon-home btn-md" })
        <div class="form-inline" style="float:right;">
            @Html.ActionLink("Tilbake", "Tilbake", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-default" })
            <div class="dropdown" style="float:right;">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    Norsk
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <!--<li><a href="@Url.Action("HentResultatEng", "Bruker")">English</a></li>-->
                </ul>
            </div>
        </div>

        <br /><br />

        <div id="tableHentResultat">
            <table class="table  table-responsive table-scrollable" id="tableID">
                <thead class="thead-default">
                    <tr>
                        <th>
                            Type valg
                        </th>
                        <th>
                            Antall Stemt
                        </th>
                        <th>
                            Legg til PDF
                        </th>
                        <th></th>
                    </tr>
                </thead>

                <tbody class="table-bordered">
                    @{int i = 1;}
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.valgtype)
                            </td>
                            <td>
                                @Html.HiddenFor(modelItem => item.valgtypeid, new { id = "HiddenID" + @i })
                                <div id="@("divStemt"+i)"></div>
                                
                            </td>
                            <td>
                                @Html.CheckBox("valgtypeID"+ @i, new { value = item.valgtypeid, @checked = false })

                            </td>
                            <td>
                                @Html.ActionLink("Resultat", "Resultat", new { tom = "" }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>

        @Html.ActionLink("Last ned PDF", "LastNedListe", new { tom = "" }, new { @class = "btn btn-success" })

    </div>
    <br />
</body>
</html>
