@model List<Studentparlamentet_28.Models.PersonvalgResultat>

@{
    ViewBag.Title = "Lagret personvalg";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
  
    <script type="text/javascript">
        function startPersonvalg(clicked_id) {
            var data_id = clicked_id;
            $.ajax({
                url: '@Url.Action("kjørerValg", "Bruker")',
                dataType: 'json',
                success: function (data) {
                    if(data == "Ja")
                    {

                        $("#feilmeldingValgKjører").show();

                    }
                    else if(data == "Nei")
                    {
                        $.ajax({
                            url: '@Url.Action("startPersonvalg", "Bruker")',
                            data: { id: data_id },
                            success: function (data) {
                                if (data == "true") {
                                    $("#oversikt").hide();
                                    $("#stop").show();
                                    $("#personvalgmelding").show();
                                    $("#personvalgmeldingID").show();
                                    $("#antallstemtmsg").show();
                                    $("#antallvalgtemsg").show();
                                    $("#tabell").hide();
                                    $.ajax({
                                        url: '@Url.Action("PersonvalgKjørerID", "Bruker")',
                                        success: function (data) {
                                            $('#personvalgmeldingID').html(data);

                                            setInterval(function () {
                                                antallStemte();
                                            }, 250); // 250 milleskunder
                                        }

                                    });
                                    $.ajax({
                                        url: '@Url.Action("hentAntallBrukere_int", "Bruker")',
                                        success: function (data) {
                                            $('#antallbrukere').html(data);
                                        }
                                    });
                                }
                                else if (data == "false") {
                                    $("#feilmelding").show();

                                }

                            }
                        });

                        function antallStemte() {
                            $.ajax({
                                url: '@Url.Action("hentAntallStemtePersonvalg_int", "Bruker")',
                                success: function (data) {

                                    $('#antallstemt').html(data);
                                }
                            });
                        }
                    }
                }

            });

        }

        $(document).ready(function () {


            var full_url = document.URL; // Get current url
            var url_array = full_url.split('=') // Split the string into an array with = as separator
            var url_array2 = full_url.split('=e') // kandidat lagt til
            var url_array3 = full_url.split('=f') // det er avlagt stemme, ikke lov til å legge til kandidat
            var leggtilkandidatfeil = url_array3[url_array.length - 1];
            var leggtilkandidat = url_array2[url_array.length - 1];// Get the last part of the array (-1)
            var data_id = url_array[url_array.length - 1];// Get the last part of the array (-1)
            var feilmelding = url_array[url_array.length - 2];
            if (isNaN(leggtilkandidatfeil) == false)
            {
                $.ajax({
                    url: '@Url.Action("HentKandidaterLagret", "Bruker")',
                    data: { id: leggtilkandidatfeil },
                    dataType: "json",
                    success: function (data) {

                        $("#listeKandidater2").html('');
                        var listeKandidaterContent = '';

                        for (var i = 0; i < data.length; i++) {
                            listeKandidaterContent += '<p>' + data[i] + '<p>';

                        }
                        $("#listeKandidater2").append(listeKandidaterContent);
                        $("#feilmeldingPersonvalg5").show();
                    
                        $(".LeggtilKandidat").val(leggtilkandidat);
                    }


                }
)
                $("#LeggtilkandidatModal").modal();
            }
            
            if (isNaN(leggtilkandidat) == false)
            {
                $.ajax({
                    url: '@Url.Action("HentKandidaterLagret", "Bruker")',
                    data: { id: leggtilkandidat },
                    dataType: "json",
                    success: function (data) {

                        $("#listeKandidater2").html('');
                        var listeKandidaterContent = '';

                        for (var i = 0; i < data.length; i++) {
                            listeKandidaterContent += '<p>' + data[i] + '<p>';

                        }
                        $("#listeKandidater2").append(listeKandidaterContent);
                        $(".LeggtilKandidat").val(leggtilkandidat);
                    }


                }
)
                $("#LeggtilkandidatModal").modal();
            }
            if (feilmelding == "feilendre&id3")    // Feilmelding det er avlagt stemme i valget, ikke lov til å endre informasjon
            {
                $.ajax({
                    url: '@Url.Action("HentKandidaterLagretID", "Bruker")',
                    data: { id: data_id },
                    dataType: "json",
                    success: function (data) {

                        $("#listeKandidater").html('');
                        var listeKandidaterContent = '';

                        for (var i = 0; i < data.length; i++) {
                            listeKandidaterContent += '<p>' + data[i] + '<p>';

                        }

                        $("#listeKandidater").append(listeKandidaterContent);
                        $("#feilmeldingPersonvalgWarning").append("Du kan ikke gjøre endringer på kandidater siden det er blitt avlagt stemme");
                        $("#feilmeldingPersonvalgWarning").show();
                        $('#valgtypeID2').val(data_id);
                    }
                });
               
                $("#sletteModal").modal();
            }

        else if (feilmelding == "feilPassord2&id3") // feilPassord slettePersonvalgModal
            {
                $('#personvalgID').html(data_id);
                $('.Valgtype3').val(data_id);
                $('#sletteModal').hide();
                $('#feilmeldingslettePersonvalg').show()
                $("#feilmeldingslettePersonvalg").append("Du har har oppgitt feil passord");
                $("#slettePersonvalgModal").modal();
            }
            else if (feilmelding == "feilPassord&id3") // feilPassord personvalgmodal
            {
                $.ajax({
                    url: '@Url.Action("HentKandidaterLagretID", "Bruker")',
                    data: { id: data_id },
                    dataType: "json",
                    success: function (data) {

                        $("#listeKandidater").html('');
                        var listeKandidaterContent = '';

                        for (var i = 0; i < data.length; i++) {
                            listeKandidaterContent += '<p>' + data[i] + '<p>';

                        }

                        $("#listeKandidater").append(listeKandidaterContent);
                        $("#feilmeldingPersonvalg").append("Du har har oppgitt feil passord");
                        $("#feilmeldingPersonvalg").show();
                        $('#valgtypeID2').val(data_id);
                    }
                });
                $("#sletteModal").modal();
            }
            else if(feilmelding == "feilKandiatnr&id3")
            {
                $.ajax({
                    url: '@Url.Action("HentKandidaterLagretID", "Bruker")',
                    data: { id: data_id },
                    dataType: "json",
                    success: function (data) {

                        $("#listeKandidater").html('');
                        var listeKandidaterContent = '';

                        for (var i = 0; i < data.length; i++) {
                            listeKandidaterContent += '<p>' + data[i] + '<p>';

                        }

                        $("#listeKandidater").append(listeKandidaterContent);
                        $("#feilmeldingPersonvalg").append("Du har har oppgitt feil kandidatID");
                        $("#feilmeldingPersonvalg").show();
                        $('#valgtypeID2').val(data_id);
                    }
                });
                $("#sletteModal").modal();
            }

            else if (isNaN(data_id))  // vanlig request
            {
            
            }
            else
            {
                $.ajax({
                    url: '@Url.Action("HentKandidaterLagretID", "Bruker")',
                    data: { id: data_id },
                    dataType: "json",
                    success: function (data) {

                        $("#listeKandidater").html('');
                        var listeKandidaterContent = '';

                        for (var i = 0; i < data.length; i++) {
                            listeKandidaterContent += '<p>' + data[i] + '<p>';

                        }
                        $("#listeKandidater").append(listeKandidaterContent);
                       
                        
                        $('#valgtypeID2').val(data_id);
                    }
                });
                $("#sletteModal").modal();
            }

            $.ajax({
                url: '@Url.Action("PersonvalgKjorer", "Bruker")',
                success: function (data) {
                    if (data == "true") {
                        $("#stop").show();
                        $("#oversikt").hide();
                        $("#personvalgmelding").show();
                        $("#personvalgmeldingID").show();
                        $("#antallstemtmsg").show();
                        $("#antallvalgtemsg").show();
                        $.ajax({
                            url: '@Url.Action("PersonvalgKjørerID", "Bruker")',
                            success: function (data) {
                                $('#personvalgmeldingID').html(data);
                            }
                        });
                        $.ajax({
                            url: '@Url.Action("PersonvalgKjørerID", "Bruker")',
                            success: function (data) {
                                $('#personvalgmeldingID').html(data);

                                setInterval(function () {
                                    antallStemte2();
                                }, 250); // 250 milleskunder
                            }

                        });
                        $.ajax({
                            url: '@Url.Action("hentAntallBrukere_int", "Bruker")',
                            success: function (data) {
                                $('#antallbrukere').html(data);
                            }
                        });

                    }
                    else if (data == "false") {
                        $("#start").show();
                        $("#inputmelding").show();
                        $("#input").show();
                        $("#tabell").show();




                    }

                }
            });
            function antallStemte2() {
                $.ajax({
                    url: '@Url.Action("hentAntallStemtePersonvalg_int", "Bruker")',
                    success: function (data) {

                        $('#antallstemt').html(data);
                    }
                });
            }


            $("#start").click(function () {
                $("#feilmelding").hide();
                var data_id = $('input[name="ValgtypeID"]').val();
                if (typeof data_id === 'string' || data_id instanceof String || data_id == 0)
                {
                    $("#feilmelding").show();
                }

                $.ajax({
                    url: '@Url.Action("startPersonvalg", "Bruker")',
                    data: { id: data_id },
                    success: function (data) {
                        if (data == "true")
                        {
                            $("#start").hide();
                            $("#input").hide();
                            $("#oversikt").hide();
                            $("#feilmelding").hide();
                            $("#inputmelding").hide();
                            $("#stop").show();
                            $("#personvalgmelding").show();
                            $("#personvalgmeldingID").show();
                            $("#antallstemtmsg").show();
                            $("#antallvalgtemsg").show();
                            $("#tabell").hide();
                            $.ajax({
                                url: '@Url.Action("PersonvalgKjørerID", "Bruker")',
                                success: function (data) {
                                    $('#personvalgmeldingID').html(data);

                                    setInterval(function () {
                                        antallStemte();
                                    }, 250); // 250 milleskunder
                                }

                            });
                            $.ajax({
                                url: '@Url.Action("hentAntallBrukere_int", "Bruker")',
                                success: function (data) {
                                    $('#antallbrukere').html(data);
                                }
                            });
                        }
                        else if (data == "false")
                        {
                            $("#feilmelding").show();

                        }

                    }
                });

                function antallStemte() {
                    $.ajax({
                        url: '@Url.Action("hentAntallStemtePersonvalg_int", "Bruker")',
                        success: function (data) {

                            $('#antallstemt').html(data);
                        }
                    });
                }



            });
            $("#stop").click(function () {
                 $.ajax({
                    url: '@Url.Action("stopPersonvalg", "Bruker")',
                    success: function (data) {
                        if (data == "true") {
                            window.location.reload();
                        }
                        else if (data == "false") {
                            $("#feilmelding").show();

                        }

                    }
                });

            });
            // lag en hendelse som utføres når en a-href med "data-SletteModal = true" trykkes.
            $('a[data-sletteModal=true]').click(function () {
                var data_id = $(this).data('id');
                $.ajax({
                    url: '@Url.Action("HentKandidaterLagret", "Bruker")',
                    data: { id: data_id },
                    dataType: "json",
                    success: function (data) {

                        $("#listeKandidater").html('');
                        var listeKandidaterContent = '';

                        for (var i = 0; i < data.length; i++) {
                            listeKandidaterContent += '<p>' + data[i] + '<p>';

                        }
                        $("#listeKandidater").append(listeKandidaterContent);
                        $('#valgtypeID2').val(data_id);
                    }
                });






            })
            $('a[data-slettePersonvalgModal=true]').click(function () {
                var personvalg_id = $(this).data('navn');
                var valgtype_id = $(this).data('id')
                
                $('#valgtypeID3').val(valgtype_id);
                $('.Valgtype3').val(valgtype_id);

                $('#personvalgID').html(valgtype_id);
                
            }
          )
            $('a[data-LeggtilkandidatModal=true]').click(function () {
                var personvalg_id = $(this).data('navn');
                var valgtype_id = $(this).data('id');
                $("#feilmeldingPersonvalg5").hide();
                $.ajax({
                    url: '@Url.Action("HentKandidaterLagret", "Bruker")',
                    data: { id: valgtype_id},
                    dataType: "json",
                    success: function (data) {

                        $("#listeKandidater2").html('');
                        var listeKandidaterContent = '';

                        for (var i = 0; i < data.length; i++) {
                            listeKandidaterContent += '<p>' + data[i] + '<p>';

                        }
                        $("#listeKandidater2").append(listeKandidaterContent);
                        $(".LeggtilKandidat").val(valgtype_id);
                         }


            }
)
            
            });

        });
    </script>
</head>
<body>
    <div class="col-sm-12" id="lagretPersonvalg">
        @Html.ActionLink(" ", "Index", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-default glyphicon glyphicon-home btn-md" })
        <div class="form-inline" style="float:right;">
            @Html.ActionLink("Tilbake", "Personvalg", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-default" })
            <div class="dropdown" style="float:right;">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    Norsk
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("lagretPersonvalgEng", "Bruker")">English</a></li>
                </ul>
            </div>
        </div>
           <h1><b>Personvalg</b></h1> 
            <div id="meldingLagretPersonvalg">
                <div id="oversikt"><h3>Her finner du oversikt over alle lagrede personvalg og alle utførte personvalg</h3></div>
                <br />
                


                
               
                <div align="center">
                    <div id="personvalgmelding" style="display: none;"> <h2>Kjører med valgtypeID</h2><div id="personvalgmeldingID" style="display: none;"></div></div>
                    <div id="antallstemtmsg" style="display: none;"><h3>Antall stemte</h3></div> <div id="antallstemt"></div>
                    <div id="antallvalgtemsg" style="display: none;">
                        <h3>Antall valgdeltakere</h3><div id="antallbrukere"></div>
                        <br />
                        <button id="stop" class="btn btn-danger" style="display: none;">Stopp</button>
                    </div>
                </div>
                <div id="tabell" style="display: none;">
                    <div id="scrollTabell">
                        <table class="table  table-responsive table-scrollable" id="tableID">
                            <thead class="thead-default">
                                <tr>
                                    <th>
                                        ValgtypeID
                                    </th>
                                    <th>
                                        Antall kandidater
                                    </th>
                                    <th width="100%">
                                        Vinner
                                    </th>
                                
                                    <th>
                                        Antall stemmer vinner
                                    </th>
                                    <th>
                                        Antall stemmer personvalg
                                    </th>
                                    <th>
                                        <div id="feilmeldingValgKjører"class="alert alert-warning" style="display: none;">
                                        Det kjøres allerede et valg, vennligst stopp valget
                                            </div>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>


                            <tbody class="table-bordered">
                                @foreach (var item in Model)
            {

                                    <tr>

                                        <td height="100">
                                            @Html.DisplayFor(modelItem => item.valgtypeid)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.antallkandidater)
                                        </td>
                                        <td width="100%">
                                            @if (item.vinner == "Blank Blank")
                                            {
                                                <p>Flest stemte Blankt, se resultat</p>
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(modelItem => item.vinner)
                                            }
                                            
                                        </td>
                                       <td>
                                            @Html.DisplayFor(modelItem => item.stemmer)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.totalantallStemmer)
                                        </td>
                                        <td><br /><button id="@item.valgtypeid" class="btn btn-success" onclick="startPersonvalg(this.id)">Start</button></td>
                                        
                                        <td>
                                            <br />
                                            <a href="#LeggtilkandidatModal" class="btn btn-large btn-info" id="leggetilKnapp" data-id="@item.valgtypeid" data-toggle="modal" data-LeggtilkandidatModal="true">Legg til Kandidater</a>
                                           
                                                <td>
                                           <br />
                                                <a href="#sletteModal" class="btn btn-large btn-info" id="sletteKnapp" data-id="@item.valgtypeid" data-toggle="modal" data-sletteModal="true">Se/Endre/Slett Kandidater</a>
                                               <td>
                                            <br />
                                                @Html.ActionLink("Vis Resultat", "PersonvalgResultat", "Bruker", new { id = item.valgtypeid }, new { target = "_blank", @class = "btn btn-info" })
                                            </td>
                                      
                                            <td>
                                                <br />
                                                 <a href="#slettePersonvalgModal" class="btn btn-large btn-danger" id="slettePersonvalgKnapp" data-navn="@item.id" data-id="@item.valgtypeid" data-toggle="modal" data-slettePersonvalgModal="true">Slett</a>
                                            </td>
                                       
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
                
                @Html.Partial("PersonvalgModal", new Studentparlamentet_28.Models.Kandidat())
                @Html.Partial("slettePersonvalgModal", new Studentparlamentet_28.Models.Kandidat())
                @Html.Partial("LeggtilkandidatModal", new Studentparlamentet_28.Models.Kandidat())



            </div>
        </div>
</body>
</html>


















