@model Studentparlamentet_28.Models.Leggtilbruker
@{
    ViewBag.Title = "Generer liste";
}

<div class="col-sm-12" id="LoginForm">
    @Html.ActionLink(" ", "Index", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-default glyphicon glyphicon-home btn-md" })
    <div class="form-inline" style="float:right;">
    @Html.ActionLink("Tilbake", "Tilbake", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-default" })
        <div class="dropdown" style="float:right;">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                Norsk
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("LeggTilBrukerEng", "Bruker")">English</a></li>
            </ul>
        </div>
     </div>
   
    <br />
    <h2 style="text-align:left;"><b>Generer liste med valgdeltakere for valg og votering</b></h2>
    <br />
    
        <p>Velg antall valgdeltagere for valg og generer en liste</p>
    
    <br />
    @using (Html.BeginForm("GenererListe", "Bruker"))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-inline">
            <div class="form-group">
                @Html.EditorFor(model => model.antall, new { htmlAttributes = new { @class = "form-control", placeholder = "Antall" } })
                @Html.ValidationMessageFor(model => model.antall, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                <input type="submit" value="Generer liste" class="btn btn-primary" />
            </div>
            <br/> <br/>
                       
            <div class="form-group">
                @Html.ActionLink("Se liste", "VisListe", new { tom = "" }, new { @class = "btn btn-success" })
                @Html.ActionLink("Last ned liste", "LastNedListe", new { tom = "" }, new { @class = "btn btn-success" })
            </div>
           
            
        </div>
    }
</div>
    







