@model List<Studentparlamentet_28.Models.Personvalg>
@{
    ViewBag.Title = "Personvalg";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript">
    </script>
</head>
<body>
    
    <div class="col-sm-12" id="PersonvalgStemme">

        <div class="container" id="PersonvalgStemmeContainer">
     
                <div class="dropdown" style="float:right;">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        Norsk
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("PersonvalgStemmeEng", "Bruker")">English</a></li>
                    </ul>
                </div>
          
            <br />
           <div align="center"><h1><b>Kandidater til personvalg</b></h1></div>
            <br />
            <div align="center"><h2>Velg kandidat og avlegg stemme</h2></div>
            <br />
            

               
   @using (Html.BeginForm("PersonvaglregisterStemme", "Bruker"))
   {
                <div class="funkyradio">
                    @foreach (var item in Model)
                    {
                    <div class="funkyradio-success">

                        <input type="radio" name="radio" id="@item.id" value="@item.id" />
                        @if (item.fornavn == "Blank" && item.etternavn == "Blank")
                        {
                            <label for="@item.id">Blank stemme</label>
                        }
                        else
                        {
                            <label for="@item.id">@item.fornavn @item.etternavn</label>
                        }
                      
                    </div>
                    }
                </div>
                <div id="stemBtn">
                    <button type="submit" class="btn btn-success btn-lg">Stem</button>
                </div>

   }
            <br />
            </div>
        </div>
</body>
</html>

