@model Studentparlamentet_28.Models.Kandidat
<div id="sletteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title">Bekreft sletting</h2>
            </div>


            <div class="modal-body">
                <h3>Oversikt over valgdeltagere</h3>
                
                <div class="alert alert-info" id="listeKandidater"></div>
                <div class="alert alert-danger" style="display: none;" id="feilmeldingPersonvalgWarning"></div>
                
                <div class="alert alert-warning" style="display: none;" id="feilmeldingPersonvalg"></div>
                <div class="alert alert-success">
                    @using (Html.BeginForm())
                    {

                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <p>Fyll Kandidat ID for å endre eller slette</p>

                            <div class="input-group">
                                @Html.EditorFor(model => model.id, new { htmlAttributes = new { @type = "text", @class = "form-control", placeholder = "Skriv inn KandidatID" } })
                                @Html.ValidationMessageFor(model => model.id, "", new { @class = "text-danger" })
                            </div>

                            <p>Skriv inn administrator passord</p>
                               <div class="input-group">
                                @Html.EditorFor(model => model.passord, new { htmlAttributes = new { @type = "password", @class = "form-control", placeholder = "Passord" } })
                                @Html.ValidationMessageFor(model => model.passord, "", new { @class = "text-danger" })
                            </div>
                          
                            <br />
                            <p>Fyll inn fornavn og/eller etternavn for å endre</p>
                            <div class="input-group">
                                @Html.EditorFor(model => model.fornavn, new { htmlAttributes = new { @class = "form-control", placeholder = "Fornavn" } })
                            </div>

                            <div class="input-group">
                                @Html.EditorFor(model => model.etternavn, new { htmlAttributes = new { @class = "form-control", placeholder = "Etternavn" } })

                            </div>
                        </div>

                        <input name="submit" type="submit" value="Endre" class="btn btn-success" />
                        <input name="submit" type="submit" value="Slett" class="btn btn-success" />
                        <input type="hidden" id="valgtypeID2" name="valgtypeID2" />
                        <input type="hidden" id="valgtypeID3" name="valgtypeID3" value=0 />
                    }
                </div>
            </div>



            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Lukk</button>


            </div>

        </div>
    </div>
</div>



