@model List<Studentparlamentet_28.Models.Kandidat>
@{
    ViewBag.Title = "Personvalg";
}
<div class="col-sm-12" id="PersonvalgPartial">
    <div id="tableContainerPersonvalg">


        <table class="table  table-responsive table-scrollable" id="tableID">
            <thead class="thead-default">
                <tr>
                    <th>
                        Fornavn
                    </th>
                    <th>
                        Etternavn
                    </th>

                    <th></th>
                </tr>
            </thead>


            <tbody class="table-bordered">
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.fornavn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.etternavn)
                        </td>
                         <td>
                            @Html.ActionLink("Slett", "slettKandidat", new { id = item.id }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            </tbody>

        </table>
        
        <div id="PersonvalgTableFooter">
            <div class="alert alert-success" style="display: none;" id="sucess"></div>
            <div class="alert alert-danger" style="display: none;" id="feil"></div>
            @Html.ActionLink("Lagre personvalg", "LagrePersonvalg", new {/* tom = "" */}, new { @class = "btn btn-success" })
            @Html.ActionLink("Gå til lagrede personvalg", "lagretPersonvalg", new { /* tom = "" */ }, new { @class = "btn btn-success" })
        </div>
    </div>

    </div>
