@model List<Studentparlamentet_28.Models.KandidatSTV>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript">
        //Hjelpevariabler

        $(function () {
            var antallKandidaterIListe = @Model.Count();
            var valgid = 0;
            var valgidtype = $("#hiddenValgtypeid").val();
            $("#divResultat").hide();
            $("#divFeilmld").hide();

            //Sjekker om et preferansevalg kjører
            $.ajax({
                url: '@Url.Action("PreferansevalgKjorer", "Bruker")',
                success: function (data) {
                    if (data == "true") {
                        window.location = "@Url.Action("PreferansevalgStartet", "Bruker")";
                    }
                    else if (data == "false") {
                        $("#start").show();
                    }
                }
            });

            if(antallKandidaterIListe == 0){
                $('#btnNullstillKandidater').attr("disabled", true);
            }

            //Nullstill kandidatliste
            $("#btnNullstillKandidater").click(function () {

                $.ajax({
                    url: '/Bruker/NullstillKandidatliste',
                    data: { valgtypeid: valgidtype },
                    type: 'GET',
                    dataType: 'json',
                    success: function (melding) {
                        if (melding == "OK") {
                            location.reload();
                        }
                    },
                    error: function (x, y, z) {
                    }
                });
            });

            //Lagrer kandidat i db og legger til en ny rad
            $("#btnLeggTilKandidat").click(function () {
                var navn = $('#kandidatNavn').val(); //Henter inn data fra felt
                leggTilRad(navn);
            });

            //Start preferansevalg
            $("#btnStartSTV ").click(function () {
                var beskrivelse = $('#BeskrivelseSTV').val(); //Henter inn data fra felt
                var antallRepresentanter = $("#antRepresentanter").val();
                var antallVaraRepresentanter = $("#antVaraRepresentanter").val();
                var grenseAntallVara = @Model.Count() - antallRepresentanter;

                $("#divFeilmld").hide();
                $("#divFeilTxt").html(" ");
                $("#divFeilRep").html(" ");
                $("#divFeilBeskrivelse").html(" ");

                //Om antall kandidater er mindre enn så starter ikke et valg
                if(antallKandidaterIListe < antallRepresentanter){
                    if(antallRepresentanter < 2){
                        $("#divFeilmld").show();
                        $("#divFeilTxt").html("Fikk ikke startet preferansevalg, se over skjema og prøv igjen.");
                        $("#divFeilRep").html("<p style='color: red;'>*Kan ikke være mindre enn 2</p>");
                    }
                    if(beskrivelse == ""){
                        $("#divFeilmld").show();
                        $("#divFeilTxt").html("Fikk ikke startet preferansevalg, se over skjema og prøv igjen.");
                        $("#divFeilBeskrivelse").html("<p style='color: red;'>*Ikke fylt ut</p>");
                    }
                    $("#divFeilmld").show();
                    $("#divFeilTxt").html("Antall kandidater for valget er mindre enn antall representanter som skal velges.");
                    melding = "feil";
                }
                else if(antallRepresentanter == ""){
                    if(beskrivelse == ""){
                        $("#divFeilmld").show();
                        $("#divFeilTxt").html("Fikk ikke startet preferansevalg, se over skjema og prøv igjen.");
                        $("#divFeilBeskrivelse").html("<p style='color: red;'>*Ikke fylt ut</p>");
                    }
                    antallRepresentanter = "-";
                    $("#divFeilmld").show();
                    $("#divFeilTxt").html("Fikk ikke startet preferansevalg, se over skjema og prøv igjen.");
                    $("#divFeilRep").html("<p style='color: red;'>*Ikke fylt ut</p>");
                }
                else if(isNaN(antallRepresentanter))
                {
                    $("#divFeilmld").show();
                    $("#divFeilTxt").html("Fikk ikke startet preferansevalg, se over skjema og prøv igjen.");
                    $("#divFeilRep").html("<p style='color: red;'>*Må være et tall</p>");
                }
                else if(antallVaraRepresentanter == ""){
                    if(beskrivelse == ""){
                        $("#divFeilmld").show();
                        $("#divFeilTxt").html("Fikk ikke startet preferansevalg, se over skjema og prøv igjen.");
                        $("#divFeilBeskrivelse").html("<p style='color: red;'>*Ikke fylt ut</p>");
                    }
                    antallRepresentanter = "-";
                    $("#divFeilmld").show();
                    $("#divFeilTxt").html("Fikk ikke startet preferansevalg, se over skjema og prøv igjen.");
                    $("#divFeilVaraRep").html("<p style='color: red;'>*Ikke fylt ut</p>");
                }
                else if(isNaN(antallVaraRepresentanter))
                {
                    $("#divFeilmld").show();
                    $("#divFeilTxt").html("Fikk ikke startet preferansevalg, se over skjema og prøv igjen.");
                    $("#divFeilVaraRep").html("<p style='color: red;'>*Må være et tall</p>");
                }
                else if(antallVaraRepresentanter > grenseAntallVara){
                    $("#divFeilmld").show();
                    $("#divFeilTxt").html("Fikk ikke startet preferansevalg, se over skjema og prøv igjen.");
                    $("#divFeilVaraRep").html("<p style='color: red;'>*Ugyldig verdig, prøv igjen</p>");
                }

                else{
                    $.ajax({
                        url: '/Bruker/startPreferansevalg',
                        data: {
                            beskrivelse: beskrivelse,
                            antallRepresentanter: antallRepresentanter,
                            antallVaraRepresentanter: antallVaraRepresentanter
                        },
                        type: 'GET',
                        dataType: 'json',
                        success: function (melding) {
                            if (melding == "OK") {
                                $("#divFeilmld").hide();
                                $("#divFeilTxt").html(" ");
                                $("#divFeilRep").html(" ");
                                $("#divFeilBeskrivelse").html(" ");

                                window.location = "@Url.Action("PreferansevalgStartet", "Bruker")";
                            }
                            else if (melding == "feil") {
                                if(antallRepresentanter < 2){
                                    $("#divFeilmld").show();
                                    $("#divFeilTxt").html("Fikk ikke startet preferansevalg, se over skjema og prøv igjen.");
                                    $("#divFeilRep").html("<p style='color: red;'>*Kan ikke være mindre enn 2</p>");
                                }
                                if(beskrivelse == ""){
                                    $("#divFeilmld").show();
                                    $("#divFeilTxt").html("Fikk ikke startet preferansevalg, se over skjema og prøv igjen.");
                                    $("#divFeilBeskrivelse").html("<p style='color: red;'>*Ikke fylt ut</p>");
                                }
                                $("#btnStartSTV ").show();
                            }
                        },
                        error: function (x, y, z) {
                        }
                    });
                }
            });

        }) //Her stopper function()


        //Funksjon som legger til kandidater fortløpende
        function leggTilRad(navn) {

            $.ajax({
                url: '/Bruker/lagreKandidatIListe',
                data: { id: navn },
                type: 'GET',
                dataType: 'json',
                success: function (melding) {
                    if (melding == "OK")
                    {
                        location.reload();
                    }
                    else if(melding == "Samme navn")
                    {
                        $('#modalFeil').modal('show');
                    }
                },
                error: function (x, y, z) {
                }
            });
        }
    </script>
</head>
<body>
    <div class="col-sm-12" id="containerSTV">
        @Html.ActionLink(" ", "Index", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-default glyphicon glyphicon-home btn-md" })
        <div class="form-inline" style="float:right;">
            @Html.ActionLink("Tilbake", "Tilbake", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-default" })
            <div class="dropdown" style="float:right;">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    Norsk
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("PreferansevalgAdminEng", "Bruker")">English</a></li>
                </ul>
            </div>
        </div>
        <br />
        <h2><b>Administrer preferansevalg</b></h2>
        <br />
        <p class="text-info">For å starte et nytt preferansevalg nå, vennligst fyll ut skjema under.</p>
        <br />
        <div class="form-horizontal">
         <div class="form-group form-inline">
                <div class="row col-sm-11">
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="kandidatNavn" placeholder="Skriv inn navn for kandidat" />
                    </div>
                    <div class="col-sm-2">
                        <input type="button" value="Legg til kandidat" id="btnLeggTilKandidat" class="btn btn-info" />
                    </div>
                </div>
            </div>

            <table class="table table-hover table-nonfluid" id="tablePreferansevalg">
                <caption><h4 class="pull-left">Registrerte kandidater</h4></caption>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Navn</th>
                        <th>
                            <div class="pull-right">
                            </div>
                        </th>
                        <th>
                            <div class="pull-right">
                                <input type="button" value="Nullstill liste" id="btnNullstillKandidater" class="btn btn-danger btn-sm" />
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @{int i = 1;}
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@i</th>
                            <td colspan="2">
                                @Html.DisplayFor(modelItem => item.navn)
                                <input type="hidden" id="hiddenValgtypeid" value="@item.valgtypeid" />
                            </td>
                            <td>
                                <div class="pull-right">
                                    @Html.ActionLink(" ", "slettKandidatFraListe", new { id = item.kandidatListeID }, new { @class = "btn btn-danger btn-md glyphicon glyphicon-remove" })
                                </div>
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
             <div class="form-group form-inline">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div id="divFeilmld" class="col-sm-8 pull-left alert alert-danger" style="display:none">
                        <div class="col-sm-12 pull-left"><div id="divFeilTxt"></div></div>
                    </div>
                </div>
            </div>
            <div class="form-group form-inline">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div id="divResultat" class="col-sm-8 pull-left alert alert-info" style="display:none">
                        <div class="col-sm-5 pull-left"><div id="divResultatTxt"></div></div>
                        <div class="col-sm-3">
                            <input type="button" class="form-control btn-sm btn-info" id="divResultatBtn" value="Se resultat" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group form-inline">
                <div class="row col-sm-11">
                    <div class="col-sm-2">
                        <label for="BeskrivelseSTV">Beskrivelse</label>
                    </div>
                    <div class="col-sm-5 col-sm-offset-2">
                        <input type="text" class="form-control" id="BeskrivelseSTV" />
                    </div>
                    <div class="col-sm-3" id="divFeilBeskrivelse">

                    </div>
                </div>
            </div>

            <div class="form-group form-inline">
                <div class="row col-sm-11">
                    <div class="col-sm-4">
                        <label for="antRepresentanter">Antall valgrepresentanter</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="antRepresentanter" />
                    </div>
                    <div class="col-sm-5" id="divFeilRep">

                    </div>
                </div>
            </div>
            <div class="form-group form-inline">
                <div class="row col-sm-11">
                    <div class="col-sm-4">
                        <label for="antVaraRepresentanter">Antall vararepresentanter</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="antVaraRepresentanter" />
                    </div>
                    <div class="col-sm-5" id="divFeilVaraRep">

                    </div>
                </div>
            </div>
            <div class="form-group">

                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <input type="button" id="btnStartSTV" value="Start nytt preferansevalg" class="btn btn-primary" />
                    </div>
                </div>
                <div class="col-sm-12"><hr id="hrSTV" /></div>
                <br />
                <div class="row col-sm-11">
                    <div class="col-sm-12">
                        @Html.ActionLink("Lagrede preferansevalg", "ForhåndslagredePreferansevalg", new { tom = "" }, new { @class = "btn btn-info col-sm-4 col-sm-offset-2" })
                        @Html.ActionLink("Vis utførte preferansevalg", "AlleUtfortePreferansevalg", new { tom = "" }, new { @class = "btn btn-info col-sm-4 col-sm-offset-1" })
                    </div>
                </div>
            </div>
            <br />

            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="modalFeil">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4>Feil</h4>
                        </div>
                        <div class="modal-body">
                            <p style="color: red;">Kan ikke legge til kandidat med samme navn. Prøv igjen med et annet navn.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br />
</body>
</html>

