@model List<Studentparlamentet_28.Models.Valgtyper>
@{
    ViewBag.Title = "Utførte valg";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Liste</title>
    <script type="text/javascript">
        $(document).ready(function () {
            var full_url = document.URL; // Get current url
            var url_array = full_url.split('/') // Split the string into an array with = as separator
            var feilmelding = url_array[url_array.length - 1];// Get the last part of the array (-1)
            if (isNaN(feilmelding) == false)
            {
                $('#slettNavn').val(feilmelding);
                $("#sletteModal").modal();
                $("#feilpassord").show();
                $("#slettNavnDiv").hide();

            }
           
            // lag en hendelse som utføres når en a-href med "data-SletteModal = true" trykkes.
            $('a[data-sletteModal=true]').click(function () {
                $("#feilpassord").hide();
                $("#slettNavnDiv").show();
                // hent inn data-taggene fra denne a-hef lenken
                var data_navn = $(this).data('id');
                var data_id_valgtype = $(this).data('navn')

                // legg ut dataene i div'en i modal-view'et
                $('#slettNavn').val(data_navn);
                $('#slettNavnDiv').html(data_id_valgtype);

            })
        });
    </script>
</head>
<body>
    
    <br /> 
<div class="col-sm-12" id="box2">
    <div class="form-inline" style="float:left;">
        @Html.ActionLink(" ", "Index", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-default glyphicon glyphicon-home btn-md" })
    </div>
    <div class="form-inline" style="float:right;">
            @Html.ActionLink("Tilbake", "Tilbake_VoteringAdmin", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-default" })
            <div class="dropdown" style="float:right;">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    Norsk
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("ResultatEng", "Bruker")">English</a></li>
                </ul>
            </div>
        </div><br /><br />
            <div class="containerResultat">

                @foreach (var valgtyper in Model)
                {
                    @Html.Partial("ResultatVoteringPartial", valgtyper)
                }
            </div>
    
    </div>
        <br /><br />
        @Html.Partial("sletteModal", new Studentparlamentet_28.Models.Kandidat())
</body>
</html>


