@model Studentparlamentet_28.Models.Preferansevalg

<div class="panel panel-default" id="panelVoteringResultat">
    <div class="panel-body" id="resultatVotering">
        <table class="table">
            <tr>
                <th>ValgNr</th>
                <th>Beskrivelse</th>
                <th>Utført </th>
                <th></th>
            </tr>
            <tr>
                <td>@Model.id</td>
                <td>@Model.beskrivelse</td>
                <td>
                    @if (@Model.utført != false)
                    {
                        <p>Ja</p>
                    }
                    else
                    {
                        <p>Nei</p>
                    }
                </td>
                <td>
                    <div class="pull-left">
                        <a href="@Url.Action("ResultatPreferansevalg", "Bruker", new {  valgtypeid = Model.valgtypeid })" class="btn btn-info ">Vis Resultat</a>
                        <a href="#sletteModal" class="btn btn-large btn-danger" id="sletteKnapp"
                           data-navn="ValgNr: @Model.valgtypeid Beskrivelse: @Model.beskrivelse"
                           data-id="@Model.valgtypeid" data-toggle="modal" data-sletteModal="true">Slett</a>
                    </div>
                </td>
            </tr>
        </table>

        <div class="panel-footer clearfix">

        </div>
    </div>
</div>