@model List<Studentparlamentet_28.Models.Bruker>



<div class="col-sm-12" id="box">
    
    <br />
    
    <div id="tableContainer">
        

        <table class="table  table-responsive table-scrollable" id="tableID">
            <thead class="thead-default">
                <tr>
                    <th>
                        Brukernavn
                    </th>
                    <th>
                        Passord
                    </th>
                    <th>
                        Innlogget
                    </th>

                    <th></th>
                </tr>
            </thead>


            <tbody class="table-bordered">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.brukernavn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.passord)
                        </td>
                        <td>
                            @if (!item.innlogget)
                            {
                                <p>Nei</p>
                            }
                            else if (item.innlogget)
                            {
                                <p>Ja</p>
                            }
                            else
                            {
                                <p>Vet ikke</p>
                            }

                        </td>
                        <td>
                            @Html.ActionLink("Slett", "SlettBruker", new { id = item.brukernavn }, new { @class = "btn btn-danger" })
                        </td>
                        <td>
                            @Html.ActionLink("Logg ut", "LoggUtBruker", new { id = item.brukernavn }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>

    <br />

    @Html.ActionLink("Tilbake", "LeggTilBruker", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-danger" })

</div>

