@{
    ViewBag.Title = "Votering";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Liste</title>
    <script type="text/javascript">
  $(document).ready(function () {

      // funksjon som sjeker om en votering kjører if so hvis stop knapp
            $.ajax({
                url: '@Url.Action("VoteringKjorer", "Bruker")',
                success: function (data) {
                    if (data == "true") {
                        $("#stop").show();
                        $("#melding").hide();
                        $("#start").hide();
                        $("#visresultat").hide();
                        $("#resultat").hide();
                        $("#melding2").show();
                        $.ajax({
                            url: '@Url.Action("hentAntallBrukere_int", "Bruker")',
                            success: function (data) {
                                var antallBrukere = data;
                                $('#antallDeltagere').html(antallBrukere);

                                setInterval(function () {
                                    antallStemte();
                                }, 250); // 250 milleskunder
                            }
                        });
                    }
                    else if(data == "false")
                    {
                        $("#start").show();
                        $("#VisVoteringer").show();
                    }

                }
            });

      $("#start").click(function () {
          $.ajax({
              url: '@Url.Action("kjørerValg", "Bruker")',
              dataType: 'json',
              success: function (data) {
                  if(data == "Ja")
                  {

                      $("#feilmeldingValgKjører").show();
                  }
                  else if(data == "Nei")
                  {
                      var melding = $("#beskrivelseVotering").val(); // henter melding

                      $.ajax({
                          url: '@Url.Action("startVotering", "Bruker")',
                          success: function () {
                              $("#start").hide();
                              $("#visresultat").hide();
                              $("#resultat").hide();
                              $("#stop").show();
                              $("#melding").hide();
                              $("#melding2").show();
                                                          
                              if(melding != null)
                              {
                                  $.ajax({
                                      url: '@Url.Action("leggTilMeldingVotering", "Bruker")',
                                      data: { id: melding },
                                      success: function () {
                                          
                                      }
                                  });
                              }
                              else
                              {
                                  melding = "";
                                  $.ajax({
                                      url: '@Url.Action("leggTilMeldingVotering", "Bruker")',
                                      data: { id: melding },
                                      success: function () {

                                      }
                                  });
                              }
                          }
                      });
                      $.ajax({
                          url: '@Url.Action("hentAntallBrukere_int", "Bruker")',
                          success: function (data) {
                              var antallBrukere = data;
                              $('#antallDeltagere').html(antallBrukere);

                              setInterval(function () {
                                  antallStemte();
                              }, 250); // 250 milleskunder
                          }
                      });
                  }

              }
          });

                


            });
            $("#stop").click(function () {
                $.ajax({
                    url: '@Url.Action("stopVotering", "Bruker")',
                    success: function () {
                        $("#stop").hide();
                        $("#visresultat").show();
                        $("#resultat").show();
                        $("#start").show();
                        $("#melding").show();
                        $("#melding2").hide();
                      
                    }
                });

            });

      function antallStemte() {
          $.ajax({
              url: '@Url.Action("hentAntallStemte_int", "Bruker")',
              success: function (data) {
                  var antallBrukereStemt = data;
                  $('#antallstemt').html(antallBrukereStemt);
              }
          });
      }

        });
    </script>
</head>
<body>
    <div class="col-sm-12" id="LoginFormVoteringAdmin">
        <div class="form-inline" style="float:left;">
            @Html.ActionLink(" ", "Index", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-default glyphicon glyphicon-home btn-md" })
        </div>
        <div class="form-inline" style="float:right;">
            @Html.ActionLink("Tilbake", "Tilbake", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-default" })
            <div class="dropdown" style="float:right;">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    Norsk
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("VoteringAdminEng", "Bruker")">English</a></li>
                </ul>
            </div>
        </div>
        <br />
        <br />
        <div id="panelVotering">
         

            <div id="melding">
                <h2><b>Votering</b></h2>
                <h3>Her kan du administrere voteringer</h3>
                <br />
                <p>Trykk <b>Start</b> for å starte en votering</p>
                <p>Trykk <b>Vis voteringer</b> for se oversikt over alle voteringene</p>
                <br />
                <p>Her kan du legge inn en beskrivelse som kommer opp hos valgdeltagere</p>

                <input type="text" id="beskrivelseVotering" name="beskrivelse" placeholder="Beskrivelse">
            </div>
            <div id="melding2" style="display: none;">
                <h2><b>Votering pågår</b></h2>
                <br />
                <br />
                <h3>Antall valgdeltakere</h3><div id="antallDeltagere"></div>
                <h3>Antall stemte</h3><div id="antallstemt"></div>
               <br /><br />
                <button id="stop" class="btn btn-danger" style="display: none;">Stopp</button>



            </div>
            <br /><br />
            <div class="alert alert-danger" style="display:none" id="feilmeldingValgKjører"><h3>En valgtype kjører allrede, vennligst stopp valget</h3></div>

                <button id="start" class="btn btn-success">Start</button>
            
                @Html.ActionLink("Resultat", "ResultatVotering", new { id = "" }, new { @class = "btn btn-info", @style = "display: none", @id = "resultat" })
                @Html.ActionLink("Vis voteringer", "Resultat", new { tom = "" }, new { @class = "btn btn-info", @id = "visresultat" })
         
                <br />
           
            <br /><br />
            
        </div>

    </div>
</body>
</html>